.image-item-container {
  cursor: pointer;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and(min-width:768px) {
  .image-item-container {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.image-itemm {
  width: 200px;
  height: 200px;
}
@media screen and(min-width:768px) {
  .image-itemm {
    width: 250px;
    height: 250px;
  }
}
