.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #212020;
  max-width: 100%;
}
.website-logo-container {
  display: flex;
  align-items: center;
  background-color: #212020;
  max-width: 80%;
}
@media screen and(min-width:768px) {
  .website-logo-container {
    justify-content: center;
    width: 100%;
  }
}

.website-heading {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  font-family: "Roboto";
  font-style: italic;
  padding-right: 15px;
}
.website-logo {
  width: 30px;
  height: 30px;
  color: white;
}
.options-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
  width: 90%;
  padding: 0px;
}
@media screen and(min-width:576px) {
  .options-list-container {
    justify-content: center;
    width: 80%;
  }
}
@media screen and(min-width:768px) {
  .options-list-container {
    justify-content: space-between;
    width: 40%;
  }
}
.search-input-container {
  display: flex;
  align-items: center;
  width: 80%;
  background-color: #ffffff;
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .search-input-container {
    width: 30%;
  }
}
.search-input {
  width: 90%;
  height: 30px;
}
.close-icon {
  width: 30px;
  height: 30px;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.no-search-results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}
.failure-head {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  font-family: "Roboto";
}
.failure-description {
  color: #64748b;
  font-weight: bold;
  font-size: 18px;
  font-family: "Roboto";
  text-align: center;
}
.images-list-container {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  padding: 0px;
}
@media screen and(min-width:768px) {
  .images-list-container {
    justify-content: flex-start;
    width: 80%;
  }
}
